body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


#header {
    width: 100vw;
    height: 88.91px;
    border: 1px solid black;
    background-color: #f7f7f7;
}

.img-top {
    width: 119px;
    height: 38.91px;
}

#head-border {
    width: 1100px;
    height: 88.81px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

#header-text {
    width: 556.336px;
    height: 22px;
    display: flex;
    justify-content: space-between;
    font: normal 14px/22px Helvetica Neue, sans-serif, Arial;
    text-shadow: 1px 1px 1px hsla(hue, saturation, lightness, alpha);
}

#navigator {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#head-border2 {
    width: 745.336px;
    height: 38.914px;
    display: flex;
    align-items: center;
    justify-content: start;

}


.weather {
    width: 270.523px;
    height: 50px;
    padding-inline-start: 0px;
}

.weather-1 {
    width: 55.05px;
    height: 50px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}

.weather-2 {
    width: 72.05px;
    height: 50px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.weather-3 {
    width: 83.43px;
    height: 50px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.text-green {
    color: green;
    font-size: 20px;
}

.weather-logo {
    width: 20px;
    height: 20.86px;
}

.bar {
    transform: rotate(90deg);
}

.hide {
    display: none;
    position: absolute;
    top: 60px;
    transition: step-start 1.3s;

}

.news-h:hover+.hide {
    display: block;
    color: black;
    /* font-family: ; */
    font-size: 18px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    transform: scale(1.04);
}

.news-b:hover+.hide {
    display: block;
    color: black;
    font-size: 18px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    transform: scale(1.04);
}

.first-section-text {
    height: 274px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.gogo-section {
    width: 367px;
    height: 286px;
    border: 1px solid black;
    border-radius: 12px;

}

.second-section-text {
    height: 254px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.live-section {
    width: 200px;
    height: 180px;
    border: 0.5px solid black;
    border-radius: 12px;

}

.live-section-text {
    height: 148px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10px;
}

.style {
    width: 367px;
    height: 244px;
    border: 0.5px solid black;
    border-radius: 12px;
}

.style-text {
    height: 212px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10px;
}

#main-body {
    width: 100vw;
    height: 100vh;
    background-color: #f7f7f7;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;

}
.news-section {
    width: 1100px;
    height: 100vh;
    border-radius: 12px;
    background-color: black;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
}
.story-section-2{
    width: 1100px;
    height: 100vh;
    border-radius: 12px;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    background-color: black;
}
.news-bussines {
    width: 542.5px;
    height: 385px;
    border-radius: 12px;
    background: linear-gradient(129deg, rgb(198, 198, 198), white)
}

.news-bussines-1 {
    width: 542.5px;
    height: 385px;
    border-radius: 12px;
}

.back-gradient {
    width: 73.02px;
    height: 30px;
    background: linear-gradient(129deg, #c40097, #d6710b);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    background-image: #c90027;
    margin: 0 0 20px;
    display: flex;
    flex-direction: column;
}

.back-gradient-text {
    font-family: Helvetica Neue, sans-serif, Arial;
    ;
    font-size: 14px / 22px;
    color: white;
    padding: 5px 12px;
}

.news-bussines-text {
    width: 502.5px;
    height: 82px;
    font-size: 26px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.news-bussines-text2 {
    display: flex;
    flex-wrap: wrap;
    font: normal 14px / 22px Helvetica Neue, sans-serif, Arial;
    width: 502.5px;
    height: 60px;
    margin: 0 0 20px;
    color: gray;
    font-weight: 400;
}

.share-gradient {
    width: 56.35px;
    height: 36px;
    background-color: rgb(177, 175, 175);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;

}

.share-gradient-image {
    width: 16px;
    height: 16px;
}


.news-bussines-hide-1 {
    position: absolute;
    width: 542.5px;
    height: 385px;
    border-radius: 12px;
    background-color: black;
    top: 0;
    left: 0;
    opacity: 0;
}

.news-hover {
    position: relative;
    width: 542.5px;
    height: 385px;
    border-radius: 12px;
    overflow: hidden;
}

.news-hover:hover .news-text {
    opacity: 1;
    font-weight: bold;
}

.news-text {
    position: absolute;
    width: 542.5px;
    height: 385px;
    border-radius: 12px;
    color: white;
    top: 0;
    left: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-bussines-h {
    transition: transform .3s;
}

.news-hover:hover .news-bussines-h {
    transform: scale(1.06);

}


.news-hover:hover+.news-bussines-h {
    transform: scale(0.3);
}

.news-hover:hover .news-bussines-hide-1 {
    opacity: 0.4;
}


.mini-news {
    height: 1100px;
    height: 333px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.mini-news-1 {
    width: 1115px;
    height: 283px;
    display: flex;
    gap: 15px;
}

.mini-news-1-1 {
    width: 263.75px;
    height: 283px;
    position: relative;
    overflow: hidden;
}

.bord {
    border: 1px solid black;
}

.mini-news-1-text {
    width: 263.750px;
    height: 44px;
    margin-top: 10px;
    font-weight: 600;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .4s ease-in-out;
    min-height: 44px;
    font-size: 14px;
    line-height: 22px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-button {
    width: 23.844px;
    height: 22px;
    margin-top: 10px;
    gap: 2px;
    opacity: 0.3;
}

.news-hover-bg {
    position: absolute;
    width: 263.75px;
    height: 175px;
    background-color: black;
    opacity: 0;
    top: 0px;
    left: 0px;
    border-radius: 8px;
}

.news-hide-text {
    position: absolute;
    width: 263.75px;
    height: 175px;
    color: white;
    opacity: 0;
    top: 0px;
    left: 0px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.mini-news-1-1:hover .news-hover-bg {
    opacity: 0.4;
}

.mini-news-1-1:hover .news-hide-text {
    opacity: 1;
}

.banner {
    width: 263px;
    height: 270px;
}
.mini-news-img{
    transition: transform 0.3s;
}
.mini-news-1-1:hover .mini-news-img{
    transform: scale(1.06);
}
